@import url("https://cdn.jsdelivr.net/npm/jellyskin@latest/dist/main.css");
@import url("https://cdn.jsdelivr.net/npm/jellyskin@latest/dist/logo.css");
@import url("https://cdn.jsdelivr.net/npm/jellyskin@latest/dist/addons/videoThemeBlur.css");

/* Cards */

.cardScalable, .card .cardBox {
    border-radius: 4px;
}

.card .cardBox {
    background: rgba(0,0,0,.7);
}

.cardScalable {
    border-radius: 4px 4px 0 0;
}

.dialog {
    border-radius: 4px !important;
}

.cardTextCentered > .textActionButton {
    text-decoration: none;
}

.paper-icon-button-light:hover:not(:disabled) {
    background-color: transparent;
}

#itemDetailPage .emby-button[title=Play], #itemDetailPage .emby-button[title=Resume] {
    /* background: transparent !important; */
    border-radius: 4px;
}

/* .headerButton:hover:not(:disabled) span,
.emby-tab-button:hover .emby-button-foreground,
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused,
.paper-icon-button-light:hover:not(:disabled) span, */
/* #itemDetailPage .emby-button:not([is=emby-linkbutton]):hover, */
.ratingbutton-icon-withrating:hover,
.playstatebutton-icon-played:hover {
    color: transparent;
    background: linear-gradient(310deg, var(--accent1-light) 10%, var(--accent2-light) 90%) !important;
    background-clip: text !important;
    -webkit-background-clip: text!important;
    transition: .15s;
}

.ratingbutton-icon-withrating,
.playstatebutton-icon-played,
.cardOverlayButton span.ratingbutton-icon-withrating,
.cardOverlayButton span.playstatebutton-icon-played {
    /* color: transparent; */
    /* background: linear-gradient(130deg, var(--accent1-light) 10%, var(--accent2-light) 90%) !important; */
    background-clip: text !important;
    -webkit-background-clip: text!important;
}

/* .chapterCard .innerCardFooter {
    border-radius: 0 4px 4px 0 !important;
}

.innerCardFooter > .cardText:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 86%;
} */

/* #itemDetailPage .detailRibbon {
    background: rgba(0,0,0,.7);
    font-size: 1.6vh;
    margin-top: .8em !important;
} */

/* .mediaInfoOfficialRating {
    border: .125em solid rgba(255, 255, 255, 0.8);
    border-radius: 4px !important;
    font-size: 0.7em;
    font-weight: 600;
    height: 1.6em;
    padding: 0;
    line-height: normal;
    width: 1.6em;
}

.mediaInfoCriticRating {
    display: none !important;
} */

/* .starIcon {
    color: transparent;
    font-size: 1.2em;
    height: auto !important;
    margin-right: .25em;
    margin-left: .25em;
    width: auto !important;
    background: linear-gradient(310deg, var(--accent1-light) 10%, var(--accent2-light) 90%) !important;
    background-clip: text !important;
    -webkit-background-clip: text!important;
    font-weight: normal;
    line-height: 2em;
    padding-bottom: .125em;
} */

/* #itemDetailPage .emby-button[title=Play] {
    border: none;
    gap: 0;
    padding-left: 0.85em !important;
    padding-right: 0.85em !important;
}

#itemDetailPage .emby-button[title=Play]:after {
    display: none;
}

#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list {
    grid-template-columns: 1fr;
}

#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem[data-type=Episode] {
    border-radius: 4px;
}

#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem-content {
    display: grid;
    grid-template-columns: 1.4fr 4fr .8fr;
}

.listItemImage.listItemImage-large.itemAction.lazy,
.listItem-content {
    height: 9vh;
} */
