@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fixes.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/jf_font.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/base.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/rounding.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/smallercast.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/episodelist/episodes_compactlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/login/login_minimalistic.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fields/fields_noborder.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/cornerindicator/indicator_corner.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/type/dark_withaccent.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/titlepage/title_banner-logo.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/progress/floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/glassy.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/pan-animation.css');
@import url('https://ctalvio.github.io/Monochromic/backdrop-hack_style.css');

/* Style backdrop */
.backdropImage {filter: blur(18px) saturate(120%) contrast(120%) brightness(40%);}

/* Accent and rounding */
:root {--accent: 151, 87, 178;}
:root {--rounding: 4px;}

/* Custom */

.card .cardBox {
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
}

.cardContent.cardImageContainer {
    border-radius: 4px 4px 0 0 !important;
}

.cardText-first, .cardText-secondary {
    padding-bottom: .6em;
}

.cardText-secondary {
    padding-top: 0;
    margin-top: -.6em;
}

.detailPageWrapperContainer {
    background: rgba(0, 0, 0, .4);
}
